.places__like {
  height: 19px;
  width: 22px;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.places__like:hover {
  background-image: url(../../../images/heart_hover.svg);
}

.places__like:active {
  background-image: url(../../../images/heart-active.svg);
}
