.popup__container {
  margin: auto;
  max-width: 430px;
  height: 330px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 770px) {
  .popup__container {
    max-width: 282px;
    height: 322px;
  }
}
