.profile__title {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  height: 42px;
  }
 
@media screen and (max-width: 1100px) {
  .profile__title {
  font-size: 27px;
  line-height: 1.22;
  height: 27px;
}
}