.popup__content-big {
  margin: auto;
  width: 75vw;
  height: 75vh;
  max-width: 816px;
  max-height: 540px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 770px) {
  .popup__content-big {
    max-height: 321px;
  }
}
